body{
    background-color: #ade8f4;
}

#heading{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#jokeBtn{
    font-size: 2rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}


.btn:hover{
    box-shadow: 5px 5px 10px 2px #001278;

    cursor: pointer;
}

#mainJoke{
    padding-top: 3rem;
    text-align: center;
    font-size: larger;
}
